@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.homePage {
    display: flex;
    width: 100%;
    height: 600px;
}

.homePage>div {
    width: 100%;

}

.hidden {
    display: none;
}

.getInto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.add-task {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.all-task {
    position: relative;
    display: flex;
    flex: 1;
    height: 550px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.48);
}

.heading {
    width: 70%;
    margin: 0px auto;
    top: -1.5rem;
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
}

.task-accordian {
    position: relative;
    top: 4.25rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 90%;
    height: 480px;
    overflow: scroll ;
}

.task-bar {
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    background-color: rgba(245, 245, 224, 0.446);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: start;
}
.toggleDescription , .delete{
    cursor: pointer;
}

#complete[type= 'checkbox']{
   appearance: none;
   background-color: rgb(231, 250, 250);
   width: 25px;
   height: 25px;
   border-radius: .25rem;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
#complete[type= 'checkbox']:hover{
    background-color: rgb(198, 212, 212);
}
#complete[type= 'checkbox']:after{
    content:  '\2714';
    font-size: 20px;
    color: white;
    font-weight: 900px;
    font-family: 'Poppins', sans-serif;
    display: none;
    border-color: white;
}
#complete[type= 'checkbox']:checked{
    background-color: #5cb85c;
    box-shadow: inset 0px 0px 3px 1px #7dff7d68;
}
#complete[type= 'checkbox']:checked:after{
    display: block;
}